## Package installation GTFS parsing

In [2]:
import gtfs_functions as gtfs
import geopandas

# parse gtfs
routes, stops, stop_times, trips, shapes = gtfs.import_gtfs('google_transit.zip')

/home/dee/.local/lib/python3.8/site-packages/geopandas/_compat.py:84: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.8.1-CAPI-1.13.3). Conversions between both will be slow.
  warnings.warn(

## Cut the shapes into segments

In [3]:
segments_gdf = gtfs.cut_gtfs(stop_times, stops, shapes)

In [4]:
## Output shows
segments_gdf.head()

,route_id,direction_id,stop_sequence,start_stop_name,end_stop_name,start_stop_id,end_stop_id,segment_id,shape_id,geometry,distance_m
0,16509,0,1,Clay St & Drumm St,Sacramento St & Davis St,4015,6294,4015-6294,185859,"LINESTRING (-122.39697 37.79544, -122.39678 37...",205.281653
1,16509,0,2,Sacramento St & Davis St,Sacramento St & Battery St,6294,6290,6294-6290,185859,"LINESTRING (-122.39761 37.79446, -122.39781 37...",238.047505
2,16509,0,3,Sacramento St & Battery St,Sacramento St & Sansome St,6290,6314,6290-6314,185859,"LINESTRING (-122.40028 37.79412, -122.40133 37...",113.017878
3,16509,0,4,Sacramento St & Sansome St,Sacramento St & Montgomery St,6314,6307,6314-6307,185859,"LINESTRING (-122.40154 37.79396, -122.40217 37...",135.214760
4,16509,0,5,Sacramento St & Montgomery St,Sacramento St & Kearny St,6307,6302,6307-6302,185859,"LINESTRING (-122.40306 37.79377, -122.40403 37...",159.021734

In [5]:
routes.head()

,route_id,agency_id,route_short_name,route_long_name,route_desc,route_type,route_url,route_color,route_text_color
0,16509,SFMTA,1,CALIFORNIA,,3,https://SFMTA.com/1,,
1,16514,SFMTA,5,FULTON,,3,https://SFMTA.com/5,,
2,16517,SFMTA,7,HAIGHT-NORIEGA,,3,https://SFMTA.com/7,,
3,16519,SFMTA,8,BAYSHORE,,3,https://SFMTA.com/8,,
4,16522,SFMTA,9,SAN BRUNO,,3,https://SFMTA.com/9,,

In [6]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,direction_id,shape_id,stop_code,stop_name,stop_desc,zone_id,stop_url,geometry
0,9854098,78900.0,78900.0,4015,1,,NaN,,NaN,16509,1,0,185859,14015,Clay St & Drumm St,,,,POINT (-122.39682 37.79544)
1,9854098,78962.0,78962.0,6294,2,,NaN,,NaN,16509,1,0,185859,16294,Sacramento St & Davis St,,,,POINT (-122.39761 37.79450)
2,9854098,79041.0,79041.0,6290,3,,NaN,,NaN,16509,1,0,185859,16290,Sacramento St & Battery St,,,,POINT (-122.40028 37.79418)
3,9854098,79080.0,79080.0,6314,4,,NaN,,NaN,16509,1,0,185859,16314,Sacramento St & Sansome St,,,,POINT (-122.40155 37.79403)
4,9854098,79127.0,79127.0,6307,5,,NaN,,NaN,16509,1,0,185859,16307,Sacramento St & Montgomery St,,,,POINT (-122.40307 37.79384)

In [7]:
stops.head()

,stop_id,stop_code,stop_name,stop_desc,zone_id,stop_url,geometry
0,390,10390,19th Avenue & Holloway St,,,,POINT (-122.47510 37.72119)
1,3016,13016,3rd St & 4th St,,,,POINT (-122.38979 37.77262)
2,3018,13018,Bacon St & San Bruno Ave,,,,POINT (-122.40324 37.72774)
3,3019,13019,Bacon St & San Bruno Ave,,,,POINT (-122.40327 37.72765)
4,3020,13020,Bacon St & Somerset St,,,,POINT (-122.40746 37.72667)

In [8]:
shapes.head()

  shape_id                                           geometry
0   185859  LINESTRING (-122.39697 37.79544, -122.39678 37...
1   185860  LINESTRING (-122.44680 37.78727, -122.44848 37...
2   185861  LINESTRING (-122.39697 37.79544, -122.39678 37...
3   185862  LINESTRING (-122.44680 37.78727, -122.44541 37...
4   185863  LINESTRING (-122.49315 37.77971, -122.49331 37...

Calculate segment frequencies

In [10]:
cutoffs = [0,6,9,15,19,22,24]
seg_freq = gtfs.segments_freq(segments_gdf, stop_times, routes, cutoffs = cutoffs)
seg_freq.head()

,route_id,route_name,dir_id,segment_id,window,frequency,ntrips,s_st_id,s_st_name,e_st_name,max_freq,max_trips,geometry
6237,16535,24 DIVISADERO,Outbound,4408-4409,0:00-6:00,360,1,4408,Divisadero St & Bush St,Divisadero St & California St,10,6,"LINESTRING (-122.44009 37.78626, -122.44026 37..."
27042,ALL_LINES,All lines,NA,7980-7981,0:00-6:00,360,1,7980,Moscow St t & Italy Ave,Moscow St & France Ave,20,18,"LINESTRING (-122.43238 37.71498, -122.43234 37..."
27076,ALL_LINES,All lines,NA,7982-6084,0:00-6:00,360,1,7982,Moscow St & RussiaAvet,Prague St & Russia Ave,20,18,"LINESTRING (-122.42992 37.71812, -122.42918 37..."
16186,16600,LBUS TARAVAL BUS,Inbound,5639-5678,0:00-6:00,360,1,5639,Market St & 2nd St,Market St & Kearny St,12,5,"LINESTRING (-122.40130 37.78934, -122.40139 37..."
16192,16600,LBUS TARAVAL BUS,Outbound,5640-5685,0:00-6:00,360,1,5640,Market St & 3rd St,Market St & New Montgomery St,12,5,"LINESTRING (-122.40355 37.78756, -122.40344 37..."

The output for one specific segments, direction, and time of day shows

In [11]:
seg_freq.loc[(seg_freq.segment_id=='3114-3144')&(seg_freq.window=='0:00-6:00')]

,route_id,route_name,dir_id,segment_id,window,frequency,ntrips,s_st_id,s_st_name,e_st_name,max_freq,max_trips,geometry
12216,16559,45 UNION-STOCKTON,Inbound,3114-3144,0:00-6:00,120,3,3114,3rd St & Brannan St,3rd St & Bryant St,12,5,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
8596,16541,30 STOCKTON,Inbound,3114-3144,0:00-6:00,40,9,3114,3rd St & Brannan St,3rd St & Bryant St,6,10,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
15109,16581,91 3RD-19TH AVE OWL,Outbound,3114-3144,0:00-6:00,30,12,3114,3rd St & Brannan St,3rd St & Bryant St,30,2,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
18894,ALL_LINES,All lines,NA,3114-3144,0:00-6:00,15,24,3114,3rd St & Brannan St,3rd St & Bryant St,4,90,"LINESTRING (-122.39323 37.77923, -122.39431 37..."

In [13]:
import keplergl as kp
m = kp.KeplerGl(data=dict(data=seg_freq, name='Segment Frequency'), height=400)
m

KeplerGl(data={'data':         route_id        route_name    dir_id segment_id       window  \
6237       1653â€¦

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter