In [2]:
import gtfs_functions as gtfs
import geopandas

# parse gtfs
routes, stops, stop_times, trips, shapes = gtfs.import_gtfs('google_transit.zip')

In [3]:
segments_gdf = gtfs.cut_gtfs(stop_times, stops, shapes)

In [4]:
cutoffs = [0,6,9,15,19,22,24]
seg_freq = gtfs.segments_freq(segments_gdf, stop_times, routes, cutoffs = cutoffs)
seg_freq.head()

,route_id,route_name,dir_id,segment_id,window,frequency,ntrips,s_st_id,s_st_name,e_st_name,max_freq,max_trips,geometry
6237,16535,24 DIVISADERO,Outbound,4408-4409,0:00-6:00,360,1,4408,Divisadero St & Bush St,Divisadero St & California St,10,6,"LINESTRING (-122.44009 37.78626, -122.44026 37..."
27042,ALL_LINES,All lines,NA,7980-7981,0:00-6:00,360,1,7980,Moscow St t & Italy Ave,Moscow St & France Ave,20,18,"LINESTRING (-122.43238 37.71498, -122.43234 37..."
27076,ALL_LINES,All lines,NA,7982-6084,0:00-6:00,360,1,7982,Moscow St & RussiaAvet,Prague St & Russia Ave,20,18,"LINESTRING (-122.42992 37.71812, -122.42918 37..."
16186,16600,LBUS TARAVAL BUS,Inbound,5639-5678,0:00-6:00,360,1,5639,Market St & 2nd St,Market St & Kearny St,12,5,"LINESTRING (-122.40130 37.78934, -122.40139 37..."
16192,16600,LBUS TARAVAL BUS,Outbound,5640-5685,0:00-6:00,360,1,5640,Market St & 3rd St,Market St & New Montgomery St,12,5,"LINESTRING (-122.40355 37.78756, -122.40344 37..."

In [7]:
seg_freq.loc[(seg_freq.segment_id=='3114-3144')].head()

,route_id,route_name,dir_id,segment_id,window,frequency,ntrips,s_st_id,s_st_name,e_st_name,max_freq,max_trips,geometry
12216,16559,45 UNION-STOCKTON,Inbound,3114-3144,0:00-6:00,120,3,3114,3rd St & Brannan St,3rd St & Bryant St,12,5,LINESTRING (-122.3932295454231536 37.779229192...
8599,16541,30 STOCKTON,Inbound,3114-3144,22:00-24:00,120,1,3114,3rd St & Brannan St,3rd St & Bryant St,6,10,LINESTRING (-122.3932295454231536 37.779229192...
8596,16541,30 STOCKTON,Inbound,3114-3144,0:00-6:00,40,9,3114,3rd St & Brannan St,3rd St & Bryant St,6,10,LINESTRING (-122.3932295454231536 37.779229192...
12219,16559,45 UNION-STOCKTON,Inbound,3114-3144,22:00-24:00,40,3,3114,3rd St & Brannan St,3rd St & Bryant St,12,5,LINESTRING (-122.3932295454231536 37.779229192...
15110,16581,91 3RD-19TH AVE OWL,Outbound,3114-3144,22:00-24:00,30,4,3114,3rd St & Brannan St,3rd St & Bryant St,30,2,LINESTRING (-122.3932295454231536 37.779229192...

In [5]:
seg_freq.loc[(seg_freq.segment_id=='3114-3144')&(seg_freq.window=='0:00-6:00')]

,route_id,route_name,dir_id,segment_id,window,frequency,ntrips,s_st_id,s_st_name,e_st_name,max_freq,max_trips,geometry
12216,16559,45 UNION-STOCKTON,Inbound,3114-3144,0:00-6:00,120,3,3114,3rd St & Brannan St,3rd St & Bryant St,12,5,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
8596,16541,30 STOCKTON,Inbound,3114-3144,0:00-6:00,40,9,3114,3rd St & Brannan St,3rd St & Bryant St,6,10,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
15109,16581,91 3RD-19TH AVE OWL,Outbound,3114-3144,0:00-6:00,30,12,3114,3rd St & Brannan St,3rd St & Bryant St,30,2,"LINESTRING (-122.39323 37.77923, -122.39431 37..."
18894,ALL_LINES,All lines,NA,3114-3144,0:00-6:00,15,24,3114,3rd St & Brannan St,3rd St & Bryant St,4,90,"LINESTRING (-122.39323 37.77923, -122.39431 37..."

In [6]:
import keplergl as kp
m = kp.KeplerGl(data=dict(data=seg_freq, name='Segment Frequency'), height=800)
m

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'data':         route_id        route_name    dir_id segment_id       window  \
6237       1653â€¦